html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.offset-header{
  margin-top: 3.5rem;
}

.module{
  padding: 15px;
  margin: 15px;
  position: relative;
}

.h250{
  height: 250px;
}